Hello World!

In [2]:
x = 10
y = 2
z = x + y

In [3]:
z

12

New line

In [1]:
d = "dog"

In [1]:
names=["Qing", "Françoise", "Raúl", "Bjork","Marie"]
ages=[32,33,28,30,29]
country=["China", "Senegal", "España", "Norway","Korea"]
education=["Bach", "Bach", "Master", "PhD","PhD"]

In [2]:
ages[0]

32

In [3]:
ages [1:-1]

[33, 28, 30]

In [4]:
ages [:-2]

[32, 33, 28]

In [5]:
# non consecutive
from operator import itemgetter
list(itemgetter(0,2,3)(ages))

[32, 28, 30]

In [6]:
# difficul to understand?
ages[0:4:2] + [ages[3]]

[32, 28, 30]

In [7]:
# by position
country[2]="Spain"

# list changed:
country

['China', 'Senegal', 'Spain', 'Norway', 'Korea']

In [8]:
# by value
country=["PR China" if x == "China" else x for x in country]

# list changed:
country

['PR China', 'Senegal', 'Spain', 'Norway', 'Korea']

In [9]:
# new list:
weekend=("Friday", "Saturday", "Sunday")

In [10]:
type.weekend()

AttributeError: type object 'type' has no attribute 'weekend'

In [11]:
type(weekend)

tuple

In [12]:
weekend_list =["Friday", "Saturday", "Sunday"]

In [13]:
type(weekend_list)

list

In [14]:
list(zip(names,ages))

[('Qing', 32), ('Françoise', 33), ('Raúl', 28), ('Bjork', 30), ('Marie', 29)]

In [15]:
classroom = {'student': names, 'age': ages, 'edu': education}

In [16]:
classroom

{'student': ['Qing', 'Françoise', 'Raúl', 'Bjork', 'Marie'],
 'age': [32, 33, 28, 30, 29],
 'edu': ['Bach', 'Bach', 'Master', 'PhD', 'PhD']}

In [17]:
classroom['student']

['Qing', 'Françoise', 'Raúl', 'Bjork', 'Marie']